<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id = "com.ep@tice.porc-001"
        version = "1.0.4">

    <name>Les courses de Ben</name>

    <description>
        Une application pour mémoriser les courses à ne pas ou blier d'acheter
    </description>

    <author href="http://www.mediafood.org/tice-pro" email="cbvmmb@gmail.com">
        Benoit Martinet  
    </author>
	<icon src="icone.png" height="114" width="114"/>
</widget>

  